.background {
	background-color: #171616;
	color: white;
	font-family: Oswald, sans-serif;
}
.header-main {
	font-size: 2em;
	text-align: center;
}
.header {
	background-color: #F74125;
	color: white;
	margin: 15px 10px 10px 10px;
	padding: 1em;
	border: 2px solid #A8F5FF;
	box-shadow: 10px 10px 5px black;
	border-radius: 5px;
	text-shadow: 1px 1px black;
}

.column-lg-right {
	color: white;
	width: 45.5%;
	background-color: #3EB08E;
	float: right;
	margin: 10px;
	padding: 1em;
	height: 100%;
	border: 2px solid #FFBB4D;
	border-radius: 5px;
	box-shadow: 10px 10px 5px black;
	text-shadow: 1px 1px black;

}

.column-lg-left {
	width: 45.5%;
	background-color: #3EB08E;
	float: left;
	margin: 10px;
	padding: 1em;
	height: 100%;
	border: 2px solid #FFBB4D;
	border-radius: 5px;
	box-shadow: 10px 10px 5px black;
	text-shadow: 1px 1px black;
}

.snippet {
	background-color: #171616;
	color: white;
	padding: 2px;
	width: auto;
	box-shadow: 5px 5px 5px black;
}

.enum {
	font-size: 1.5em;
	text-decoration: underline;
}

.it {
	font-style: italic;
}