<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/instaprofile.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Max Iniguez</a></h1>
            <p>Front-end developer looking to learn anything and everything</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/Maximillini86" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/max.iniguez.125" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://github.com/Maximillini" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/maxiniguez" class="icon fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                <li><a href="mailto:maximillini86@gmail.com?Subject=Hello!" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

