html {
	background-color: #A4A2B2;
	font-family: 'Oswald', sans-serif;
	background-image: url("../imgs/IehB7.png");
}

.body {
	color: white;
	padding: 10px;
	background-color: #00001F;
	border-radius: 5px;
	width: 80%;
	margin: 10px 0px 10px 0px;
}

.bold {
	font-weight: bold;
	color: #7f2439;
	text-shadow: none;
}

.header {

}

a:link {
	color: #7f2439;
	text-decoration: none;
}

a:hover {
	color: #7f2439;
	font-weight: bold;
	text-decoration: underline;
}

a:visited {
	color: #7f2439;
	text-shadow: 1px 1px 0px white;
}