html {
	background-color: #A4A2B2;
	font-family: 'Oswald', sans-serif;
	background-image: url("../imgs/IehB7.png");

}

.head {
	color: white;
	padding: 10px;
	text-align: center;
	width: 9em;	
	font-family: Helvetica;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: #3756C4;
}

.marker {
	color: black;
	padding: 10px;
	text-align: center;
	width: 9em;	
	font-family: 'Permanent Marker', sans-serif;
	background-color: white;
	border: 1px solid #3756C4;
	margin-top: -15px;
}

.sticker {
	background-color: #3756C4;
	padding: 2px;
	width: 19.33em;
	height: 10em;
	border-radius: 5px;
}

.body {
	color: white;
	padding: 10px;
	background-color: #00001F;
	border-radius: 5px;
	width: 70%;
	margin: 10px 0px 10px 0px;

}

.bold {
	font-weight: bold;
	color: #7f2439;
	text-shadow: none;
}

.img {
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 5px solid #00001F;
	border-radius: 5px;
	float: right;
	margin-right: -8px;
}

a:link {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	font-weight: bold;
}

a:visited {
	color: white;
	text-shadow: 1px 1px 0px white;
}

a.marker {
	border: 0px solid white;
	display: inline-block;
	margin-left: 5px;
}

a.marker:link {
	color: black;
}

a.marker:hover {
	background-color: #7f2439;
	color: black;
}

a.marker:visited {
	color: black;
}

.in-foot {
	background-color: #3756C4;
	padding: 8px;
	width: 100%;
	margin-left: -8px;
	margin-top: 2em;
	bottom: 0;
}

p.head {
	display: inline-block;
}

.bullet {
	list-style-image: url("../imgs/bullet.png");
	display: inline-block;
}
